body {
    background: linear-gradient(90deg, rgba(0,223,236,1) 0%, rgba(0,142,255,1) 50%, rgba(0,53,255,1) 100%); 
    margin: 0;
    padding: 0;
    color: white;
}

h1 {
    text-align: center;
}

.card {
    max-width: 300px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    background: white;
    color: black;
}

.title {
    margin: 0;
}

.book-form {
    max-width: 300px;
    margin: 0 auto;

}

label {
    display: block;
}

input[type="text"] {
    height: 30px;
    width: 298px;

    border: none;
    /* border-radius: 50px; */

    font-size: 1em;
    outline: none;
}

button[type="submit"] {
    height: 35px;
    width: 100%;
    padding: 0;
    margin-top: 10px;

    border: none;
    background-color: rgb(70, 253, 138);
}

button[type="submit"]:hover {
    background-color: rgb(0, 221, 81);
}
