body {
    background: linear-gradient(90deg, rgba(0,54,255,1) 0%, rgba(0,255,250,1) 100%);
    color: white;
}

h1 {
    text-align: center;
}

.card {
    max-width: 300px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    background: white;
    color: black;
}

.title {
    margin: 0;
}